doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Comfortaa:600|Lato:400,700')
    link(rel='stylesheet', href='/css/reset.css')
  body
    #app
script(src='/bundle.js')