doctype
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Check out the photography portfolio of Cornelia Schulz. Come and browse through a world of photos!')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Comfortaa:600|Lato:400,700')
    link(rel='stylesheet', href='/css/reset.css')
  body
    #app
script(src='/bundle.js')