/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */
html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;  
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}
.container {
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

header .header-left {
    width: 65%;
}

header .header-left img {
    width: 100%;
}

footer .footer-col {
    width: 20%;
    background: lightsteelblue;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
}

footer .footer-col img {
    width: 100%;
    padding: 10px;
}

footer .bottom-row p {
    margin: 5px auto;
}