// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }
html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;  
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}
img {
    width: 100%;
}
a, a:visited {
    text-decoration: none;
    color: #111;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.container {
    width: 100%;
}
.row {
    display: flex;
    width: 100%;
}
header .container {
    padding: 15px;
}
header .header-left {
    width: 65%;
}
header .header-left img {
    width: 100%;
}
header .header-right {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}
header .header-right img {
    width: 60%;
    float: right;
}
header .mobile-menu {
    width: 100%;
    text-align: right;

    li {
        height: 2rem;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px;
    }
}
header .row {
    justify-content: space-between;
    flex-wrap: wrap;
}
.favourites h1 {
    padding-left: 15px;
    font-size: 1.5rem;
}
footer .container {
    padding: 10px;
}
footer .footer-col {
    width: 20%;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
}
footer .footer-col img {
    width: 100%;
    padding: 10px;
}
footer .bottom-row p {
    margin: 5px auto;
}
@media only screen and (min-width: 769px) {
    header .header-left img {
        height: 100px;
    }
}