html,
body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
}

a,
a:visited {
  text-decoration: none;
  color: #111;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 15px;
}

.row {
  display: flex;
  width: 100%;
}

header {
  .container {
    padding: 15px;
  }

  .row {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-left {
    margin-top: 35px;
    width: 55%;
  }

  .header-left img {
    width: 100%;
  }

  .header-content {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  .header-right {
    display: none;
  }

  .header-right-mobile {
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background: transparent;
    display: flex;
    justify-content: flex-end;

    img {
      margin-bottom: 1.5rem;
      width: 15%;
    }
  }

  .header-right-mobile:focus {
    outline: none;
  }

  .mobile-menu {
    width: 100%;
    text-align: right;

    li {
      list-style-type: none;
      line-height: 2rem;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px;
    }
  }

  .language-selectors {
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
  }

  #languages {
    padding: 0.4rem;
  }

  @media only screen and (min-width: 769px) {
    .header-left {
      width: 50%;
    }

    .header-left img {
      height: 100px;
      width: auto;
    }

    .header-content {
      align-items: flex-end;
      width: 50%;
      ;
    }

    .language-selectors {
      margin-right: 20px;
    }

    .header-right {
      display: block;

      ul {
        display: flex;
        flex-direction: row;

        li {
          height: 100px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 20px;
          width: 110px;
          text-align: center;
        }
      }
    }

    .header-right-mobile {
      display: none;
    }
  }
}

.banner {
  img {
    width: 100%;
  }
}

.favourites {
  h1 {
    padding: 60px 0;
    font-size: 1.5rem;
    text-align: center;
  }

  img {
    width: 100%;
  }

  @media only screen and (min-width: 769px) {
    h1 {
      text-align: left;
    }
  }
}

.about {
  p {
    margin: 15px 0;
  }
}

.contact {
  display: flex;
  flex-direction: row;

  label {
    display: none;
  }

  .contact-left {
    display: none;

    img {
      height: 100%;
    }
  }

  p {
    margin: 5px 0 15px;
  }

  label {
    color: #494949;
  }

  input {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid #494949;
    margin: 5px 0 15px;
  }

  input:focus {
    outline: none;
  }

  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #494949;
    margin: 5px 0 15px;
  }

  textarea:focus {
    outline: none;
  }

  @media only screen and (min-width: 769px) {
    .contact-left {
      display: block;
      height: 500px;
      overflow: hidden;
      width: 60%;
      margin-right: 25px;
      border-radius: 5px;
    }

    .contact-right {
      padding-top: 25px;
    }
  }
}

.galleries {
  .gallery-image-container {
    position: relative;
  }

  .gallery {
    width: 100%;
    background-image: url('/images/pakiri-astro.jpg');
    background-size: cover;
    margin: 10px 0;
  }

  .gallery:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .gallery-overlay {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .gallery-overlay-text {
    color: #fff;
    font-size: 40px;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }

  @media only screen and (min-width: 769px) {
    .galleries-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .gallery-image-container {
      width: 32%;
      margin: 5px;
    }

    .gallery {
      margin: 0;
    }
  }
}

.react-photo-gallery--gallery {
  margin: 2rem 0;
}

.goToShopBtn {
  background-color: #8abe56;
  border: 1px solid transparent;
  border-radius: 7px;
  letter-spacing: 2px;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  padding: 0.6rem 2rem;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 1000ms;

  a {
    color: #fff;
    font-size: 1.2em;
  }

  &:hover {
    border: 1px solid #8abe56;
    background-color: transparent;

    a {
      color: #8abe56;
    }
  }
}

.sendMessage {
  border-radius: 7px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 1.2rem;
  margin-bottom: 2rem;
  padding: 0.6rem 2rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .goToShopBtn {
    float: right;
    margin-bottom: 0;
  }
}

footer {
  .container {
    padding: 10px;
  }

  .footer-col {
    width: 20%;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
  }

  .footer-col img {
    width: 100%;
    padding: 10px;
  }

  .bottom-row p {
    margin: 5px auto;
  }

  @media only screen and (min-width: 769px) {
    .footer-col {
      text-align: center;
    }

    .footer-col img {
      width: auto;
      height: 100px;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    width: 1028px;
    margin: 0 auto;
  }
}

.test {
  background: red;
  color: green;
  line-height: 3em;
}